@import url("https://fonts.googleapis.com/css?family=Dosis");

body {
  background-color: black;
}

.serviceheader {
  font-family: Dosis;
  font-size: 56px;
  color: #fef0a3;
  position: absolute;
  left: 38%;
}

.section1 {
}

.haircut {
  font-family: Dosis;
  color: #fef0a3;
}
