.video {
  width: 50%;
  height: 30%;
}

.video2 {
  width: 70%;
  height: 50%;
  margin-left: 50%;
  margin-top: 5%;
}

.welcometext {
  font-family: Impact;
  font-size: 500%;
  color: blue;
  margin-left: 55%;
  position: absolute;
  top: 20%;
}

.whychoose {
  font-family: Impact;
  font-size: 450%;
  position: absolute;
  color: blue;
  top: 80%;
  left: 8%;
}

.intrytext {
  font-family: Times;
  font-size: 220%;
  margin-left: 55%;
  position: absolute;
  top: 40%;
}

.whytext {
  font-family: Times;
  font-size: 220%;
  position: absolute;
  top: 90%;
  margin-left: 2%;
}
