.cutting {
  position: absolute;
  width: 38%;
  height: 101%;
}

.logo {
  width: 15%;
  position: absolute;
  top: 0%;
}

@media screen and (max-width: 500px) {
  .cutting {
    position: absolute;
    width: 100%;
    height: 110%;
  }
}

/*  and (max-width: 400px) */

/* @media only screen and (max-width: 1200px) and (min-width: 400px) {
  .cutting {
    width: 100%;
    height: 120%;
    opacity: 5.5;
    filter: brightness(50%);
  }

  .logo {
    width: 15%;
    position: absolute;
  }
} */
